

.textoinicio {
    text-align: justify;
    border: 3px solid greenyellow;
    margin-bottom: 10px;
    
    .textos {
       
        padding-top: 100px;
    }


    .titulolegendarias {
        font-style: oblique;
        color: greenyellow;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .carousel {
        width: 50%;
        margin-left: 300px;
        margin-bottom: 20px;
        padding-left: 70px;
    }
      

}