

footer {
    background-color: greenyellow;

    .logofooter {
        width: 80px;
        border-radius: 90px;
    }

    .derechoreservado {
        font-size: 15px;
        color: black;
    }

}