.linea1 {
    background-color: greenyellow;
    border: solid greenyellow;  
    margin-top: 20px;
    margin-bottom: 5px;
}

.linea2 {
    background-color: greenyellow;
    border: solid greenyellow;  
    margin-top: 35px;
    margin-bottom: 15px;
}

.linea3 {
    background-color: greenyellow;
    border: solid greenyellow;  
    margin-top: 60px;
    margin-bottom: 40px;
}