

.tituloaccesorios {
  font-style: oblique;
  margin-left: 235px;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 20px;
  width: 70%;
    
  -webkit-animation: shake-horizontal 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-horizontal 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;


  @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    90% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    90% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }   
    
    
  .linkropa {
    color: greenyellow;
    border: solid greenyellow;
    border-radius: 10px;
    padding: 2px;
    text-decoration: none;
    transition: 1s;
    display: block;
    width: 45%;
    margin-top: 10px;
       
    &:hover {
      background-color: greenyellow;
      border: 1px solid yellow;
      color: black;
    }
        
  }

}